.background {
  /* Set rules to fill background */
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.center {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 95vh;
}

.frame {
  display: flex;
  justify-content: center;
}

.center-block {
  margin-top: 20%;
}

.title {
  margin-top: 10%;
}
